---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="travel" description="oh the places gone">
  <h1>travels</h1>
  <p>places gone and places seen. always a visitor.</p>
  <ul>
    <li><a href="/arts/travel/sf">san francisco, ca</a></li>
    <li><a href="/arts/travel/vancouver">vancouver, bc</a></li>
    <li><a href="/arts/travel/nyc">new york city, ny</a></li>
    <li><a href="/arts/travel/atlanta">atlanta, ga</a></li>
    <li><a href="/arts/travel/denver">denver, co</a></li>
    <li><a href="/arts/travel/san-juan">san juan, pr</a></li>
    <li><a href="/arts/travel/slo">san luis obispo, ca</a></li>
  </ul>
  <p>i have so far returned back to where i started.</p>
</Layout>
