---
import Layout from "../../../layouts/Layout.astro";
---
<Layout title="san francisco, ca" description="a gilded rush">
    <h1>san francisco, ca</h1>
    <p>37.791426, -122.389567</p>

    <h2>studio</h2>
    <p>the window (2022-11-05)</p>
    <img
        src="/arts/travel/sf/studio.jpeg"
        title="life sitting by"
        alt="busy skyline sketch with blank innards"
    />
</Layout>
