---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="arts" description="this beholder sees expression">
  <h1>the arts</h1>
  <p>there is so very much beauty in this life.</p>
  <h2>musical notes</h2>
  <p>i really enjoy music. both listening and playing.</p>
  <a href="https://soundcloud.com/eden-gardenz/albums" target="_blank">
    soundcloud
  </a>
  <h2>senses</h2>
  <p>some things bringing attention to a moment.</p>
  <ul>
    <li><a href="/arts/senses/candles">candles</a></li>
    <li><a href="/arts/senses/tattoos">tattoos</a></li>
  </ul>
  <h2>travels</h2>
  <p>places gone and places seen. always a visitor.</p>
  <ul>
    <li><a href="/arts/travel/sf">san francisco, ca</a></li>
    <li><a href="/arts/travel/vancouver">vancouver, bc</a></li>
    <li><a href="/arts/travel/nyc">new york city, ny</a></li>
    <li><a href="/arts/travel/atlanta">atlanta, ga</a></li>
    <li><a href="/arts/travel/denver">denver, co</a></li>
    <li><a href="/arts/travel/san-juan">san juan, pr</a></li>
  </ul>
</Layout>
