---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="arts" description="this beholder sees expression">
    <h1>the arts</h1>
    <p>there is so very much beauty in this life.</p>

    <h2>musical notes</h2>
    <p>i really enjoy music. both listening and playing.</p>

    <a href="https://soundcloud.com/eden-gardenz/albums" target="_blank">
        soundcloud
    </a>
</Layout>
