<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="zim" />
    <meta name="description" content="i still remember a few things" />
    <title>simple is good complex is bad often</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/posts.xml"
      title="posts of longer ramblings"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/notes.xml"
      title="notes of momentary jots"
    />
    <script
      data-domain="o526.net"
      is:inline
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">home</a> -
        <a href='/arts"'>arts</a> -
        <a href="/blog">blog</a>/<a href="/blog/note">note</a>/<a
          href="/blog/note/f9260961">f9260961</a
        > -
        <a href="/code">code</a> -
        <a href="/me">me</a>
      </nav>
    </header>
    <main>
      <h1>simple is good complex is bad often</h1>
      <time datetime="2026-02-22">Q2026-02-23</time>
      <p>dog bells and whistle distracts a song but in mixing the meaning?</p>
      <img
        src="/blog/note/f9260961/f9260961.jpeg"
        title="woof bark o flee"
        alt="chores"
      />
    </main>
  </body>
</html>
