---
import Layout from "../layouts/Layout.astro";
---
<Layout title="~/.">
    <h1>hello there!</h1>
    <p>you've stumbled upon my personal site!</p>
    <p>this is a wip. but so is so much.</p>
    <p>feel free to browse around anyways-</p>
</Layout>
