---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const about = await getCollection("about");
  return about.map((page) => ({
    params: { id: page.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title={page.slug} description={page.data.description}>
  <h1>{page.data.title}</h1>
  <Content />
</Layout>
