---
import Layout from "../../layouts/Layout.astro";

import Link from "../../components/Link.astro";
---
<Layout title="whoami" description="indulgent reflections">
    <h1>about the author</h1>
    <p>this is the site of -ez. hello and welcome.</p>
    <p>
        <Link href="/me/profile">profile</Link>.
        <Link href="/me/contact">contact</Link>.
    </p>
    <img
        src="/me/planted.jpeg"
        alt="wild grasses taped to a paper on scrap cardboard"
        title="i want this to last"
    />
</Layout>
