---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";

import AstroDate from "../../../components/Date.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title}>
    <h1 id={""}>{post.data.title}</h1>
    {!post.data.hidden && <p>
        {'> '}
        <AstroDate posted={post.data.posted} />
    </p>}
    <Content />
</Layout>
