---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="video" description="picture are seen">
  <h1>videos</h1>
  <p>film from sequence of picture finding sounds.</p>
  <h2>tank</h2>
  <figure class="mt-2" title="2024-10-22">
    <video controls src="https://cdn.o526.net/tank.mp4"></video>
  </figure>
</Layout>
