---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="senses" description="feelings of real">
  <h1>senses</h1>
  <p>some things bringing attention to a moment.</p>
  <ul>
    <li><a href="/arts/senses/candles">candles</a></li>
  </ul>
  <p>often that moment passes. as moments will.</p>
</Layout>
