---
import Breadcrumb from "../components/Breadcrumb.astro";
---

<header>
  <nav>
    <Breadcrumb href="/">home</Breadcrumb> -
    <Breadcrumb href="/arts">arts</Breadcrumb> -
    <Breadcrumb href="/blog">blog</Breadcrumb> -
    <Breadcrumb href="/code">code</Breadcrumb> -
    <Breadcrumb href="/me">me</Breadcrumb>
    <hr />
  </nav>
</header>
