# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Share to the web
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    name: Build the blog
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the changes
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Package a distribution
        uses: withastro/action@9811f9299d5d37ca0416ca85cee333c7c9485cd1 # v5.0.1
        with:
          node-version: 22
  preview:
    name: Preview changes
    if: ${{ github.ref != 'refs/heads/main' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Download a distribution
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: github-pages
      - name: Unpack the package
        run: |
          mkdir -p dist
          tar -xvf artifact.tar -C dist
      - name: Note the branch
        run: echo "$REF_NAME" > dist/branch.txt
        env:
          REF_NAME: ${{ github.ref_name }}
      - name: Prepare surge
        run: npm install surge
      - name: Write to staging
        run: npx surge ./dist o526-staging.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
      - name: Share a preview
        run: |
          PR_COMMENT="preview: $PREVIEW_URL"$'\n'"branch: $BRANCH_URL"
          if [[ $PR_REF == *"/merge" ]]; then
            PR_REF="${PR_REF%%/merge}"
          fi
          if ! gh pr comment "$PR_REF" --repo "$GH_REPO" --edit-last --body "$PR_COMMENT"; then
            gh pr comment "$PR_REF" --repo "$GH_REPO" --body "$PR_COMMENT"
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          PREVIEW_URL: https://o526-staging.surge.sh
          PR_REF: ${{ github.ref_name }}
          BRANCH_URL: https://o526-staging.surge.sh/branch.txt
  deploy:
    name: Deploy the site
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Write to pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
