# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Share to the web
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  preview:
    name: Preview the build
    if: ${{ github.ref != 'refs/heads/main' }}
    runs-on: self-hosted
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout the changes
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Set credentials
        run: |
          git config --global user.email "tom@deorr.co"
          git config --global user.name "@theorderingmachine"
      - name: Note the branch
        run: |
          echo "$REF_NAME" > public/branch.txt
          git add public
          git checkout -b dev
          git commit -m "chore: branch preview"
          git push -f origin dev
          systemctl restart blog:preview
        env:
          REF_NAME: ${{ github.ref_name }}
      - name: Share a preview
        run: |
          PR_COMMENT="preview: $PREVIEW_URL"$'\n'"branch: $BRANCH_URL"
          if [[ $PR_REF == *"/merge" ]]; then
            PR_REF="${PR_REF%%/merge}"
          fi
          if ! gh pr comment "$PR_REF" --repo "$GH_REPO" --edit-last --body "$PR_COMMENT"; then
            gh pr comment "$PR_REF" --repo "$GH_REPO" --body "$PR_COMMENT"
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          PREVIEW_URL: https://o526-staging.surge.sh
          PR_REF: ${{ github.ref_name }}
          BRANCH_URL: https://o526-staging.surge.sh/branch.txt
  deploy:
    name: Deploy the site
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: self-hosted
    permissions:
      contents: read
    steps:
      - name: Rebuild the blog
        run: systemctl restart blog
