# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Examine code patterns
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  lint:
    name: Prove the package
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the changes
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup a runtime
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: ./package-lock.json
      - name: Install dependencies
        run: npm install
      - name: Scan lintings
        run: npm run lint
