# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Construct computers
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  construct:
    name: Setup servers
    runs-on: self-hosted
    defaults:
      run:
        working-directory: servers
    permissions:
      contents: read
    steps:
      - name: Checkout the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Outline known infrustructure
        run: nix develop --command tofu init
      - name: Ensure infrastructure reason
        run: |
          nix develop --command tofu fmt -check
          nix develop --command tofu validate
      - name: Plan the infrastructure changes
        if: github.event_name == 'pull_request'
        run: nix develop --command tofu plan
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
      - name: Push to production
        if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
        run: nix develop --command tofu apply -auto-approve
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
