# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Construct computers
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  construct:
    name: Setup servers
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: servers
    permissions:
      contents: read
    steps:
      - name: Checkout the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Install a flaked Nix
        uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - name: Outline known infrustructure
        run: nix run .#tofu -- init
      - name: Ensure infrastructure reason
        run: |
          nix run .#tofu -- fmt -check
          nix run .#tofu -- validate
      - name: Plan the infrastructure changes
        if: github.event_name == 'pull_request'
        run: nix run .#tofu -- plan
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
      - name: Push to production
        if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
        run: nix run .#tofu -- apply -auto-approve
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
